.flex {
	display: flex;
}
.jtv-testimonial-block .item .col-lg-3{
	width:24.5%!important;
}
.action .link-wishlist {
	padding-right: 10px;
}
.tp-caption.txt-rght, .txt-rght span {
	text-align: right!important;
}
.flt-rght {
	float: right!important;
}
header .item-count {
	float: left;
    font-size: 18px;
    padding-top: 5px;
}
footer .footer-links .footer-logo a {
	font-size: 25px;
	font-weight: 700;
}
.footer-logo a:before {
	content: none!important;
}
.footer-bottom a:hover {
    color: #ee2265;
    text-decoration :underline;
}
.block-layered-nav .list-group-item {
	border: none;
	padding: 7px;
}
.block-layered-nav .list-group-item i{
	margin-right: 7px;
}
.block-layered-nav .list-group .sub-cat a{
	margin-left: 13px;
	padding: 5px 15px;
}
/* highlight active menu */
.block-layered-nav #sidebar .list-group-item:not(.collapsed) {
 background-color: #fff;
}
/* closed state icon */
.block-layered-nav #sidebar .list-group .list-group-item::after {
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  position: absolute;
  right: 0;
  font-weight: 300;
}
.block-layered-nav #sidebar .list-group .list-group-item[aria-expanded="false"]::after {
  content: "\f067";
}
/* open state */
.block-layered-nav #sidebar .list-group .list-group-item[aria-expanded="true"] {
  background-color: #fff;
}
/* open state icon */
.block-layered-nav #sidebar .list-group .list-group-item[aria-expanded="true"]::after {
  content: "\f068";
}
.jtv-cart-summary .qty input {
	background: #fff;
	padding: 8px 10px;
}
.jtv-cart-summary .qty button {
	padding: 8px 10px;
	background-color: #fff;
	border: 1px solid #eaeaea;
}
/******************************************
31. Dashboard
******************************************/
.my-account {
	padding: 20px;
	background-color: #fff;
	border: 1px #e8e6e2 solid;
	margin-bottom: 30px;
}
.dashboard {
	margin-top: 10px
}
.dashboard .welcome-msg {
	text-align: left;
	padding: 0px 0 5px;
	color: #333;
	margin: auto;
}
.dashboard .welcome-msg strong {
	font-weight: bold;
	font-size: 13px;
}
.box-account {
	margin-top: 0px;
}
.box-account .page-title {
	margin: 0 !important;
	padding: 0;
	background: none;
	border-bottom: none !important;
}
.box-account .page-title h2 {
	font-size: 15px;
	font-weight: 600;
}
.box-account address {
	color: #333;
	text-align: left;
	border-bottom: none;
}
.box-account .col2-set a {
	text-decoration: underline
}
.col2-set .col-1 {
	border: 0 solid #336600;
	padding-bottom: 0;
	padding-top: 0;
	text-align: left;
	width: 48%;
	display: inline-block;
}
.col2-set .col-2 {
	text-align: left;
	width: 48%;
	display: inline-block;
}
.recent-orders .title-buttons {
	margin-bottom: 8px;
	text-align: right;
}
.recent-orders .title-buttons strong {
	color: #333;
	float: left;
	font-size: 13px;
	font-weight: 600;
}
.my-account {
	margin-bottom: 20px;
	border: 1px solid #eee;
	box-shadow: 0 0 8px 0 rgba(0,0,0,.05);
	border-radius: 3px;
}
#livesearch .row img {
	width: 100%;
}
.jtv-box-hover .add-to-links li a, .action a.btn-cart, .brass-metal .action button.btn-cart {
	background: none repeat scroll 0 0 #fff;
    color: #666;
    display: inline-block;
    font-size: 10px;
    letter-spacing: 0.5px;
    line-height: 2.5;
    padding: 6px;
    text-transform: uppercase;
    border: 1px #d1d1d1 solid;
    font-weight: 600;
}
.jtv-box-hover .add-to-links li a, .action a.btn-cart:hover {
	background: #ee2265;
    color: #fff;
    border: 1px #ee2265 solid;
	transition: color 300ms ease-in-out 0s, background-color 300ms ease-in-out 0s, background-position 300ms ease-in-out 0s;
}
.continue-shopping span {
	font-size: 18px;
    font-weight: 300;
}
.text-center {
	text-align: center!important;
}
.single-address {
	background-color: #fff;
    padding: 15px;
    border: 1px solid #eaeaea;
}
.single-address-content {
	padding-left: 10px;
}
/*---------- Custom Radio Button -----------*/
/* The container */
.radio-container {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.radio-container input[type=radio] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #e2e0e0;
  border-radius: 50%;
  border: 1px solid #999;
}

/* On mouse-over, add a grey background color */
.radio-container:hover input ~ .checkmark {
  background-color: #6680cc;
}

/* When the radio button is checked, add a blue background */
.radio-container input:checked ~ .checkmark {
  background-color: #394771;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radio-container .checkmark:after {
 	top: 5px;
	left: 5px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}
/*---------- Custom Radio Button -----------*/
.manage_add{
    padding: 10px;
    background: #fff;
    margin: 20px auto;
    border: 1px solid #eaeaea;
    width: 50%;
}
.manage_add:hover {
	background: #394771;
}
.manage_add:hover h5{
	color: #fff;
}
.table-payment {
	width: 100%;
	border: 1px solid #eaeaea;
    background-color: #fff;
}
.table-payment tbody tr td{
	padding: 10px;
	border-bottom: 1px solid #e0d8d8;
	border-right: 1px solid #e0d8d8;
}
.table-payment tbody tr:last-child td{
	border-bottom: 0;
	background: #394771;
    color: #fff;
}
.table-payment tbody tr td:last-child{
	border-right: 0;
	text-align: right;
}
.product-login .account-login{
	margin: 15px auto 20px;
    overflow: hidden;
    padding: 25px 25px;
    width: 30%;
}
.register-login {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}
.livesrc {
	border-bottom: 1px solid #ddd;
	padding: 3px;
}
.livesrc:last-child {
	border-bottom: 0;
	padding: 0;
}
#livesearch {
	color: black;
	z-index: 1111;
	position: absolute;
	background: white;
	display: none;
	padding: 10px;
	width: 89.9%;
	margin-top: 10px;
	border: 1px solid #dedbdc;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 #dedbdc;
    max-height: 450px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.triup {
	position: absolute;
	margin-top: -15px;
    left: 49%;
    z-index: 999;
    color: #fff;
    font-size: 20px;
}
.cart_description .sub-tag, .myorder .singleordercontent .sub-tag {
	font-weight: 300;
	font-size: 12px;
	opacity: .7;
}
.myorder img{
	max-width: 100%;
}
.singleorder {
	border: 1px solid #e3e3e3;
	background-color: #fff;
	margin-bottom: 15px;
}
.singleorder .singleorderid {
	padding: 0;	
	background: #ccc;
	border-bottom: 1px solid #e3e3e3;
}
.singleorder .singleorderid h5{
	margin-bottom: 0
}
.singleorder .singleorderid h5, .singleorder .singleorderid p {
	padding-left: 20px
}
.singleorder .singleorderimg {
	padding: 20px;
}
.singleorder .singleordercontent {
	padding: 20px 10px;
}
.singleorder .quantity{
	margin-bottom: 0;
}
.singleorder .singleordercontent a {
	font-size: 18px;
}
.singleorder .action{
	padding-top: 5px;
}
.singleorder .cart-price span{
	font-size: 14px;
}
.singleordercontent .sub-tag.spl:before {
	content: "|";
	padding: 0 10px;
	color: #333;
	font-size: 15px;
}
.singleorder .row{
	margin: 0;
	border-bottom: 1px dotted #ccc;
}
.singleorder .row:last-child {
	border-bottom: 0px dotted #ccc;
}
.totalordercontent {
	text-align: right;
	background: #eee;
	border-top: 1px dotted #ccc;	
}
.paymttotal h4 {
	width: 50%;	
	float: left;
	padding-bottom: 12px;
	border-bottom: 1px solid #eaeaea;
}
#coupon {
	width: 78%;
	float: left;
    margin: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0; 
}
#coupon_btn{
	background: #394771;
    color: #fff;
    width: 22%;
    padding: 7px 16px;
    display: flex;
        cursor: pointer;
}
.coupandiv {
	padding-bottom: 12px;
	border-bottom: 1px solid #eaeaea;
}
#coupon_status{
	color: #f92f2f;
	padding: 6px 6px 0;
    margin: 0;
}
.paymtmthd {    
	padding-top: 12px;
}
.paymtmthd .radio-container {
	font-size: 14px;
}
.paymtmthd .radio-container .checkmark{
	top: 3px;
    left: 0;
    height: 15px;
    width: 15px;
}
.paymtmthd  .radio-container .checkmark:after {
    top: 4px;
    left: 4px;
    width: 5px;
    height: 5px;
}  
.emptycrt{
	border: 1px solid #394771;
    background: #ffffff05;
    text-align: center;
    display: inline-table;
    justify-content: center;
    height: auto;
    width: 300px;
    padding: 30px;
    border-radius: 5px;
    margin-top: 50px;
    background: #fff;
    text-align: center;
}  
.offer-counter .single-offer{
    padding: 5px;
    border: 1px dashed #394771;
    background-color: #fff;
    border-radius: 5px;
    min-height: 90px;
}
.offer-counter {
	margin: 30px 0;
}
.single-offer h1 {
	text-align: center;
	width: 26%;
	float: left;
	margin-top: 10px;
	font-size: 30px
}
.single-offer h4, .single-offer h6 {
	width: 70%;
	float: left;
}
.single-offer h4 {
    cursor: pointer;
	margin-top: 0;
    display: inline-block;
    width: auto;
    font-size: 15px;
    padding: 5px 10px;
    background: #323d61;
    color: #fff;
}
.single-offer h6 {
	margin-top: 10px;	
    font-size: 13px;
	text-decoration: underline;
}
.jtv-top-links .social-network a i {
    font-size: 16px;
    padding: 4px;
    border-radius: 3px;	
}
.jtv-top-links .social-network:nth-child(4) a i, .jtv-top-links .social-network:nth-child(5) a i, .jtv-top-links .social-network:nth-child(6) a i {
    border: .5px solid #fff;
    padding: 6px 8px;
}
.hellohi {
	position: absolute;
	background: #fff;
	padding: 0px 10px;
	z-index: 9999;
	top: 130%;
    right: 8.7%;
    border-radius: 5px;
    display: none;
}
.phon:hover .hellohi{
	display: block;
}
.mini-cart .basket.heart a:after{
	content: '\f004';
	font-size: 21px;
}
.hwqd {
	padding: 0 8px;
}
.jtv-logo-box .logo a h1{
	color: #fff;
    margin: 0;
    font-weight: 700;
    text-decoration: none;
}
.disply-blk {
	display: block!important;
}
.mm-toggle1 {
	height: auto;
    background-color: #394771;
    cursor: pointer;
    display: block;
    float: left;
    font-size: 24px;
    height: 33px;
    padding: 0px;
    width: auto;
}
.mm-toggle1 i {
	color: #fff
}
.closeit .fa-search:before {
    content: "\f00d";
}
.zoomGalleryActive img {
	border-color: #394771!important; 
}
.line-break2 {	
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.line-break3 {	
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.cpybtn {
	padding: 2px 8px;
    border: 1px solid #323d61;
}